<li>
  <span class="description"><%= note.description %></span>
  <span class="code"><pre><code><%= note.code %></code></pre></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(note.created_at) %> ago.
  </span>
  <% if current_user?(note.user) %>
    <%= link_to "delete", note, method: :delete,
                                data: { confirm: "You sure?" },
                                title: note.description %>
  <% end %>
</li>
