%footer{class: "footer"}
  %small
    <a href="http://railstutorial.org/">Programmer's Notebook</a>
    by Scott LaBounty
  %nav
    %ul
      %li 
        =link_to "About",   about_path
      %li 
        =link_to "Contact", contact_path
      %li 
        =link_to "News", '#'
